* {
    box-sizing: border-box;
    --main-pink: #FFC8DD;
    --main-purple: #613f75;
    --background-purple: #CDB4DB;
    --background-offwhite: #eaf2ef;
    --accent-salmon: #FFAFCC;
    --accent-powder-blue: #BDE0FE;
    --accent-sky-blue: #A2D2FF;
    margin: 0;
    padding: 0;

}

header {
    background-color: var(--main-pink);
}

.hero-body {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-bottom: -5rem;
    padding-bottom: -5rem
}

.hero-image {
    max-height: 8rem;
}

.title {
    font-size: 1.25rem;
    color: var(--accent-sky-blue);
    text-align: center;
    margin: 1% 2.5% 1% 2.5%;
}

.navbar {
    width: 100%;
    background-color: var(--main-purple);
    align-items: center;
    border-top: 0.25rem var(--accent-powder-blue) solid;
    border-bottom: 0.25rem var(--main-pink) solid;
    display: flex;
    justify-content: space-between;
    margin: -0.35rem 0 0 0
}

#back-button {
    background-color: var(--background-offwhite);
    color: var(--main-purple);
    border: 0.125rem var(--accent-powder-blue) solid;
    margin-right: 1%;
}

main {
    background-color: var(--accent-powder-blue);
}

.content-wrapper {
    width: auto;
    min-height: 40vh;
    margin: 0;
    padding: 0
}

#back-button:hover {
    background-color: var(--accent-powder-blue);
    color: var(--main-purple);
    box-shadow: 1px 1px 6px var(--accent-salmon);
}

#sidebar {
    background-color: var(--main-pink);
    margin: 1% 0.5% 1% 2%
}

#searchResults {
    background-color: var(--accent-powder-blue);
    padding: 1%
}

.card {
    background-color: var(--main-pink);
    width: 98%;
    padding: 1%;
    margin: 0 1% 1% 1%;
    color: var(--main-purple);
}

.poster {
    max-width: 20%;
}

.card-info {
    margin: 1%;
    align-content: center;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.year {

}

.runtime {
    margin-top: 2%;
}

.ratings{
    margin-top: 2%;
}

.imdbRating {

}

.rtRating {

}

.metacriticRating {

}

.card-plot {
    margin: 1%;
    align-content: center;
}

.streaming {
    align-content: center;
}

#footer{
    padding: 2%;
    text-align: center;
    background-color: var(--accent-powder-blue);
}

#end-tag {
    color: var(--main-purple);
}

@media screen and (min-width:801px) {
    #hero-narrow {
        display: none;
    }
}
@media screen and (max-width:800px) {
    #hero-wide {
        display: none;
    }
    .title {
        font-size: 1.25rem;
    }
}