* {
    box-sizing: border-box;
    --main-pink: #FFC8DD;
    --main-purple: #613f75;
    --background-purple: #CDB4DB;
    --background-offwhite: #eaf2ef;
    --accent-salmon: #FFAFCC;
    --accent-powder-blue: #BDE0FE;
    --accent-sky-blue: #A2D2FF;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--accent-powder-blue);
}

header {
    background-color: var(--main-pink);
    height: fit-content;
    margin-bottom: -0.5%;
}

.hero-body {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    background-color: var(--main-pink);
}

.hero-image {
    max-height: 22vh;
    background-color: var(--main-pink);
}

.pageTitle {
    font-size: 1.25rem;
    color: var(--accent-sky-blue);
    text-align: center;
    margin: 1% 2.5% 1% 2.5%;
    background-color: var(--main-purple);
    font-weight: 500;
}

#grandmas {
    background-color: var(--main-purple);
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    height: auto;
    background-color: var(--main-purple);
    align-items: center;
    border-top: 0.25rem var(--accent-powder-blue) solid;
    border-bottom: 0.25rem var(--main-pink) solid;
    display: flex;
    justify-content: space-between;
}

.search-bar {
    background-color: var(--background-offwhite);
    color: var(--main-purple);
    border: 0.125rem var(--accent-powder-blue) solid;
    margin-right: 1%;
}

.search-bar:hover {
    color: var(--main-purple);
    box-shadow: 1px 1px 6px var(--accent-salmon);
    background-color: var(--accent-powder-blue);
}

main {
    width: 100vw;
    background-color: var(--accent-powder-blue);
    display: flex;
    justify-content: space-between;
}

.box {
    background-color: var(--main-pink);
}

input {
    background-color: var(--background-offwhite);
    border-color: var(--background-purple);
}

#modal-submit {
    background-color: var(--accent-sky-blue);
    border-color: var(--background-purple);
}

#modal-submit:hover {
    box-shadow: 1px 1px 5px var(--main-purple);

}

#previous-results {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.searchResult {
    align-content: center;
    padding: 2vh 1vh 1vh 1vh;
}

.searchTitle {
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
}

.posterContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.poster {
    max-height: 53vh;
    display: flex;
    justify-content: space-around;
}

.search-message {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
}

#footer {
    padding-top: 200%;
    text-align: center;
    width: 100vw;
    position: absolute;
    bottom: 0;
    z-index: -20;
    background-color: var(--accent-powder-blue);
}

#end-tag {
    color: var(--main-purple);
}

@media screen and (min-width:801px) {
    #hero-narrow {
        display: none;
    }
}
@media screen and (max-width:1000px) {
    #searchResult_3 {
        display: none;
    }
}
@media screen and (max-width:900px) {
    #footer {
        font-size: 14px;
    }
}
@media screen and (max-width:800px) {
    #hero-wide {
        display: none;
    }
    .pageTitle {
        font-size: 1.25rem;
    }
    .search-bar {
        font-size: 0.85rem;
    }
    .modal-content {
        align-content: center;
    }
    .box {
        width: 90%;
        margin: 5%
    }
    label, input {
        display: inline-block;
        width: 40%;
        margin-bottom: 2.5%
    }
    label {
        text-align: right;
        margin-right: 5%;
    }
}
@media screen and (max-width:775px) {
    #searchResult_2 {
        display: none;
    }
}
@media screen and (max-width:620px) {
    .pageTitle {
        font-size: 1.175rem;
    }
    .search-bar {
        font-size: 0.8rem;
    }
}
@media screen and (max-width:575px) {
    .pageTitle {
        font-size: 1.15rem;
        margin: 0.5%;
    }
    .search-bar {
        font-size: 0.75rem;
    }
}
@media screen and (max-width:535px) {
    .pageTitle {
        font-size: 1rem;
        margin: 0 0 0 0.5rem;
        text-wrap: wrap;
    }
    .search-bar {
        font-size: 0.75rem;
    }
}
@media screen and (max-width:500px) {
    #searchResult_1 {
        display: none;
    }
}
@media screen and (max-width:485px) {
    .pageTitle {
        font-size: 1.25rem;
        margin: 0 0 0 0.75rem
    }
    #grandmas {
        display: none;
    }
}
@media screen and (max-width:375px) {
    #footer {
        font-size: 12px;
    }
}
@media screen and (max-width:316px) {
    .pageTitle {
        font-size: 16px;
        margin-right: 7.5%;
    }
    .hero-body {
        width: 80%
    }
    .navbar {
        justify-content: left;
    }
}